<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title>Mi árbol digital</title>
</head>

<body class="bg-[#F2F0C9]">
    <header class="bg-[#F2F0C9] text-black h-32 pt-6">
        <nav class="flex justify-between items-center"> 
            <div>
                <a href="/"><img class="h-32 ml-16" src="../static/logo.webp" alt="Logo"></a>               
            </div>
            <ul class="flex justify-around font-['Montserrat'] justify-end uppercase w-1/3 mr-16">
                <li class="text-black hover:text-[#F21B6A]"><a href="/blog">Blog</a></li> 
                <li class="text-black hover:text-[#F21B6A]"><a href="/mapa">Mapa</a></li>
                <li class="text-black hover:text-[#F21B6A]"><a href="/nosotros">Nosotros</a></li>
                <li class="text-black hover:text-[#F21B6A]"><a href="/ranking">Ranking</a></li>
                <li><a class="bg-[#01261C] hover:bg-[#F21B6A] h-10 w-40 rounded-xl text-white p-3" href="/adoptar">Adoptar</a></li>
            </ul>
        </nav>
    </header>
    <main class="">
        <article class="flex items-center mt-10 ml-20">
            <section class="w-[50%] flex flex-col justify-around h-[40vh]">
                
                <h1 class="text-4xl font-['Montserrat'] font-extrabold">PLANTÁ TU <br> <span class="text-6xl font-extrabold text-lime-400">ÁRBOL DIGITAL</span></h1>
                <p class="text-2xl font-['Montserrat']">CONOCÉ LAS OPCIONES PARA ADOPTAR UN ÁRBOL</p>
                
                <button class="flex justify-center items-center bg-[#01261C] hover:bg-[#F21B6A] h-10 w-40 rounded-xl text-white"><a href="/nosotros">Saber más</a></button>
            </section>
            <section class="w-[50%]">
                
                <img class="h-[750px]" src="../static/mapatransparente.png" alt="Mapa">

            </section>
        </article>
    </main>
</body>

</html>
