<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
</head>
<body class="bg-[#F2F0C9]">
    <header class="text-black h-14">
        <nav class="flex justify-between items-center pt-6"> <!-- FLEX trabaja sobre dos ejes, eje vertical (arriba y abajo) y horizontal (espacio) -->
            <div>
                <a href="/"><img class="h-32 ml-16" src="../static/logo.webp" alt="Logo"></a>               
            </div>

        </nav>
    </header>

    <div class="bg-[#F2F0C9] h-screen flex items-center justify-center p-2">
        <div class="bg-[#D5D96C] p-8 rounded-lg shadow-md max-w-md w-full">
            <!-- Banner Profile -->
            <div class="relative">
                <img src="../static/plantines-1167766.webp" alt="Banner Profile" class="w-full rounded-t-lg">
                <img src="../static/latin-women.webp" alt="Profile Picture" class="absolute bottom-0 left-2/4 transform -translate-x-1/2 translate-y-1/2 w-24 h-24 rounded-full border-4 border-[#9CD918]">
            </div>
            <!-- User Info with Verified Button -->
            <div class="flex items-center mt-4">
                <h2 class="text-xl font-bold text-[#01261C]">POROTITO</h2>
 
            </div>
            <!-- Bio -->
            <p class="text-gray-700 mt-2"> De Sofia Colucci | Plantado por ATP | 25/06/23 </p>
            <!-- Social Links -->
            <div class="flex items-center mt-4 space-x-4">
                <a href="#" class="text-[#F21B6A] hover:underline"> Luque, Paraguay </a>
                
                
            </div>
            <!-- Separator Line -->
            <hr class="my-4 border-t border-gray-300">
            <!-- Stats -->
            <div class="flex justify-between text-gray-600 mx-2">
                <div class="text-center">
                    <span class="block font-bold text-lg">3</span>
                    <span class="text-xs">Fotos</span>
                </div>
                <div class="text-center">
                    <span class="block font-bold text-lg">12</span>
                    <span class="text-xs">Visitas</span>
                </div>
               
            </div>
        </div>
    </div>
    
</body>
</html>
