<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
</head>
<body class="bg-[#f2f0c9]">

    <header class="bg-[#F2F0C9] text-black h-32 pt-6">
        <nav class="flex justify-between items-center"> <!-- FLEX trabaja sobre dos ejes, eje vertical (arriba y abajo) y horizontal (espacio) -->
            <div>
                <a href="/"><img class="h-32 ml-16" src="../static/logo.webp" alt="Logo"></a>               
            </div>
            <div class="flex-col pr-16 items-center justify-center text-right">
                <h1 class="text-5xl font-extrabold font-['Montserrat'] text-lime-400">RANKING DE PADRINOS</h1>
                <h2 class="text-2xl font-['Montserrat'] ">Los destacados del mes</h2>
            </div>

        </nav>
    </header>

    <!-- <div class="flex justify-center items-center [#f2f0c9] py-26 sm:py-32"> -->
        <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3 ml-72 pt-10">
            
          <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-3 mt-20">
            <li>
              <div class="flex items-center gap-x-6">
                <img class="rounded-full" src="../static/Julio.jpeg" alt="" width="150" height="150">
                <div>
                  <h3 class="text-base font-semibold leading-7 tracking-tight font-['Montserrat']">Julio Caballero</h3>
                  <p class="text-sm font-semibold leading-6 text-font-family-['Montserrat']">Puesto #1</p>
                </div>
              </div>
            </li>
    
             <li>
              <div class="flex items-center gap-x-6">
                <img class=" rounded-full" src="../static/Galilea.jpeg" alt="" width="150" height="150">
                <div>
                  <h3 class="text-base font-semibold leading-7 tracking-tight font-['Montserrat']">Galilea Rolon</h3>
                  <p class="text-sm font-semibold leading-6 text-font-['Montserrat']">Puesto #2</p>
                </div>
              </div>
            </li>
            <li>
                <div class="flex items-center gap-x-6">
                <img class="rounded-full" src="../static/Leti.jpeg" alt="" width="150" height="150">
                  <div>
                    <h3 class="text-base font-semibold leading-7 tracking-tight font-['Montserrat']">Leti Barrios</h3>
                    <p class="text-sm font-semibold leading-6 text-font-['Montserrat']">Puesto #3</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="flex items-center gap-x-6">
                  <img class="rounded-full" src="../static/Carlos.jpeg" alt="" width="150" height="150">
                  <div>
                    <h3 class="text-base font-semibold leading-7 tracking-tight font-['Montserrat']">Carlos Ricalde</h3>
                    <p class="text-sm font-semibold leading-6 text-font-['Montserrat']">Puesto #4</p>
                  </div>
                </div>
              </li>
          </ul>
        </div>
    <!-- </div> -->
      
</body>
</html>